
@{
    if(ViewBag.Title == null)
    {
        ViewBag.Title = "وضعیت پرداخت";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <p style="text-align:center;">@ViewBag.Result</p>
</div>

